{{#light-table table height='40vh' as |t|}}
    {{t.head
            onColumnClick=(action 'onColumnClick')
            iconSortable='fa fa-sort'
            iconAscending='fa fa-sort-asc'
            iconDescending='fa fa-sort-desc'
            resizeOnDrag=true
            fixed=true
    }}
    {{#t.body canSelect=false as |body|}}
    {{/t.body}}
    {{#t.foot fixed=true as |columns|}}
        <tr>
            <td colspan={{columns.length}}>
                Tadadadam
            </td>
        </tr>
    {{/t.foot}}
{{/light-table}}
<button {{action 'addColumn'}}>
    Add Column
</button>
<button {{action 'addRow'}}>
    Add Row
</button>