h2 {
  text-align: center;
  margin: 20px 0 !important;
}

.products, .shops {
  margin-top: 50px;
}

.actions button {
  width: 60px;
  margin: 0 2px;
}

.shop {
  position: relative;
}

.shop > .actions {
  position: absolute;
  top: 9px;
  right: 6px;
}

.shop > .list-group-item {
  height: 48px;
}

.shop > a {
  line-height: 26px;
}

.shop-name {
  padding-left: 5px;
}

.new-shop {
  width: 100%;
  padding-left: 5px;
}

.shops > .col-md-6, .products > .col-md-8 {
  float: unset !important;
  margin: auto;
}

.products > .col-md-8 {
  position: relative;
}

.products > .col-md-8 > button:first-of-type {
  position: absolute;
}

.list-header {
  height: 40px;
  background-color: #9d9d9d;
  color: white;
  font-weight: bold;
}

.product {
  height: 40px;
  position: relative;
}

.product > .actions {
  position: absolute;
  top: 5px;
  right: -154px;
}

.list-group-item.total-price {
  height: 100px;
  padding: 20px 20px 0 0 !important;
  text-align: right;
}

.new {
  width: 100%;
  padding-left: 5px;
  margin: 10px 0;
}

.quantity, .price {
  text-align: center;
}

.products .list-group-item {
  padding: unset;
}

.name, .quantity, .price {
  padding: 10px;
}

.form-group .name, .form-group .quantity, .form-group .price {
  border: none;
  background-color: #ecebd5;
}

.form-group .quantity, .quantity {
  border-left: 1px solid #c9c9c9;
  border-right: 1px solid #c9c9c9;
}

.form-group {
  margin-bottom: unset !important;
}


.uc-table th {
  font-size: 12px;
  font-weight: 200;
  padding: 10px;
}

.ember-light-table .lt-row {
  height: 50px;
}

.ember-light-table td {
  padding: 0 10px;
}

.row-hover {
  color: red;
}

.row-hover::before {
  content: 'delete row';
  display: none;
}

.row-hover:hover .row-hover::before {
  display: block;
}