h3, h2 {
  text-align: center;
  margin: 20px 0 !important;
}

.products, .shops {
  margin-top: 50px;
}

.actions button {
  width: 60px;
  margin: 0 2px;
}

.shop {
  position: relative;
}

.shop > .actions {
  position: absolute;
  top: 9px;
  right: 6px;
}

.shop > .list-group-item {
  height: 48px;
}

.shop > a {
  line-height: 26px;
}

.shops > .col-md-6, .products > .col-md-8 {
  float: unset !important;
  margin: auto;
}

.products > .col-md-8 > button {
  float: left;
}

.list-header {
  height: 40px;
  background-color: #9d9d9d;
  color: white;
  font-weight: bold;
}

.product {
  height: 20px;
  position: relative;
}

.product > .actions {
  position: absolute;
  top: -5px;
  right: -154px;
}

.list-group-item.totalPrice {
  height: 100px;
}

.new {
  margin: 10px 0;
}

.addProduct button {
  margin: 8px;
}

.quantity, .price {
  text-align: center;
}

.totalPrice div {
  text-align: right;
}

.form-group {
  margin-bottom: unset !important;
}
